{% extends 'base.html.twig' %}

{% block recherche %}
    <form class="d-flex" action="{{ path('app_hackathons_search') }}" method="POST">
      <input class="form-control me-2" type="search" placeholder="Rechercher" aria-label="Search" name="search" style="width: 61%;";>
      <button class="btn btn-outline-success" type="submit">Rechercher</button>
    </form>
      {% endblock %}

{% block body %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<style>
.card-img:hover, .card-img-top:hover{
filter: grayscale(1)brightness(0.5);}
.groupe {
        position: relative;
        padding: 0;
        display: block;
        overflow: hidden;
      }
      .content {
        opacity: 0;
        font-size: 35px;
        position: absolute;
        top: 0;
        left: 0;
        color: #FFFFFF;
        background-color: rgba(000, 000, 000, 0.5);
        width: 350px;
        height: 300px;
        -webkit-transition: all 400ms ease-out;
        -moz-transition: all 400ms ease-out;
        -o-transition: all 400ms ease-out;
        -ms-transition: all 400ms ease-out;
        transition: all 400ms ease-out;
        text-align: center;
      }
      .groupe .content:hover {
        opacity: 1;
      }
      .groupe .content .text {
        height: 0;
        opacity: 1;
        transition-delay: 0s;
        transition-duration: 0.4s;
      }
      
</style>
<div style='
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    align-content: center;
    '>
{% for lehackathon in lehackathons %}
<div class="card" style="width: 355px; padding:5px; margin:10px">
    <div class="groupe"> <a href="{{ path('app_detailhackathon', {'id': lehackathon.id}) }}">
        <img src="{{ lehackathon.image }}" class="card-img-top" > 
      <div class="content">
        <div class="text">découvrir se hackathons</div>
      </div></a>
    </div>
        <H3>{{ lehackathon.theme }}</H3>
        <p>{{ lehackathon.description }}</p>
        <p>Ce hackathons debute le {{ lehackathon.dateDebut | date("d/m/Y")}}</p>
        <p>Et il fini le {{ lehackathon.dateFin | date("d/m/Y") }}</p>
        {% if not is_granted('IS_AUTHENTICATED_FULLY') %}  
         <button class="btn btn-success" Disabled>vous devez être connecter pour vous inscrire a un Hackathon</button> 
        {% endif %}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %} 
        <button type="submit" class="btn btn-success">S'inscrire a ce Hackathon</button>  
        {% endif %} <br>
        <!--  <a type="link" href="{{ path('app_event', {'id': lehackathon.id}) }}" class="btn btn-dark" role="button">voir les évènements</a>  -->
        </div>
    {% endfor %}
</div>
{% endblock %}