{% extends 'base.html.twig' %}

{% block body %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

{% for lehackathon in lehackathons %}
<div class="card" style="width: 18rem;">
        <img>{{ lehackathon.image }}</img>
        <p>{{ lehackathon.theme }}</p>
        <h3>{{ lehackathon.description }}</h3>
        <p>{{ lehackathon.dateDebut | date("d:m:Y")}}</p>
        <p>{{ lehackathon.dateFin | date("d:m:Y") }}</p>
        
        </div>
    {% endfor %}
{% endblock %}