{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
{{ form_start(form) }}


<section class="text-center">
  <!-- Background image -->
  <div class="p-5 bg-image" style="
        background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
        height: 300px;
        "></div>
  <!-- Background image -->

  <div class="card mx-4 mx-md-5 shadow-5-strong" style="
        margin-top: -100px;
        background: hsla(0, 0%, 100%, 0.8);
        backdrop-filter: blur(30px);
        ">
    <div class="card-body py-5 px-md-5">

      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h2 class="fw-bold mb-5">Page d'inscription</h2>
          <form>
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row">
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  {{ form_row(form.prenom) }}
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  {{ form_row(form.nom) }}
                </div>
              </div>
            </div>

            <!-- 2 column grid layout with text inputs for the telephone and datenaissance -->
                <div class="row">
                <div class="col-md-6 mb-4">
                    <div class="form-outline">
                        {{ form_row(form.tel) }}
                    </div>
                </div>
                <div class="col-md-6 mb-4">
                    <div class="form-outline">
                    {{ form_row(form.date_naissance) }}
                    </div>
                </div>
                </div>

                <!-- Lien portfolio input -->
                <div class="form-outline mb-4">
                  {{ form_row(form.lien_portfolio) }}
                </div>

                <!-- Email input -->
                <div class="form-outline mb-4">
                  {{ form_row(form.mail) }}
                </div>

                <!-- Password input -->
                <div class="form-outline mb-4">
                  {{ form_row(form.mdp) }}
                </div>

            <!-- Submit button -->
            <button type="submit" value="sauvegarder" class="btn btn-primary">S'inscrire</button>
            {{ form_end(form) }}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
